{% load static %}
{% load fallback_tags %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ SITE_NAME }}{% endblock %}</title>

    {% static_fallback 'bootstrap_css' %}

    <link rel="stylesheet" href="{% static 'base/css/base.css' %}">

    {% block extra_css %}{% endblock %}
</head>
<body class="d-flex flex-column min-vh-100">
    <header>
        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">
                    <a class="navbar-brand" href="">{{ SITE_NAME }}</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                        <ul class="navbar-nav me-auto">
                            <li class="nav-item"><a class="nav-link" href="{% url 'poems:home' %}">Главная</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'poems:search' %}">Поиск</a></li>
                            <li class="nav-item"><a class="nav-link" href="{% url 'poems:about' %}">О проекте</a></li>
                        </ul>
                        <ul class="navbar-nav">
                            {% if user.is_authenticated %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'users:profile' user_id=user.id%}">Профиль</a></li>
                                <form action="{% url 'users:logout' %}" method="post" class="d-inline">
                                    {% csrf_token %}
                                    <button type="submit" class="logout-btn nav-link">
                                        Выйти
                                    </button>
                                </form>
                            {% else %}
                                <li class="nav-item"><a class="nav-link" href="{% url 'users:login' %}">Войти</a></li>
                                <li class="nav-item"><a class="nav-link" href="{% url 'users:register' %}">Регистрация</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        {% endblock %}
    </header>


    <main class="flex-grow-1">
        {% block content %}
        {% endblock %}
    </main>


    <footer class="bg-light text-center text-muted py-3">
        {% block footer %}
            <div class="container">
                <small>© {% now "Y" %} {{ SITE_NAME }}</small>
            </div>
        {% endblock %}
    </footer>

    {% static_fallback 'bootstrap_js' %}
    {% static_fallback 'htmx_js' %}
    {% static_fallback 'alpine_js' %}

    <script src="{% static 'base/js/main.js' %}"></script>

    {% block extra_js %}{% endblock %}
</body>
</html>