{% extends 'base/base.html' %}
{% load static %}

{% block title %}Регистрация закрыта — Glimvig{% endblock %}

{% block content %}
    <div class="row justify-content-center mt-5">
        <div class="col-md-6 col-lg-4">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title text-center mb-4">Регистрация временно остановлена на сайте. Сейчас зарегистрироваться не удастся.</h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}