{% extends 'base/base.html' %}
{% load static %}

{% block content %}

<div class="container-fluid my-4 flex-grow-1 d-flex flex-column">
    <div class="row row-el flex-grow-1">

        <aside class="el-aside col-lg-2 d-none d-lg-flex justify-content-center align-items-center">
            <div class="sidebar-block d-flex align-items-center justify-content-center">
                <div class="banner-placeholder d-flex align-items-center justify-content-center">
                    <img class="ads_banner" src="{% static 'base/img/ads_banner.jpg' %}" alt="Реклама">
                </div>
            </div>
        </aside>

        <section class="col-lg-8 col-md-12 d-flex flex-column">
            <div class="main-content flex-grow-1">
                {% block main_content %}
                {% endblock %}
            </div>
        </section>


        <aside class="el-aside col-lg-2 d-none d-lg-flex justify-content-center align-items-center">
            <div class="sidebar-block d-flex align-items-center justify-content-center">
                <div class="banner-placeholder d-flex align-items-center justify-content-center">
                    <img class="ads_banner" src="{% static 'base/img/ads_banner.jpg' %}" alt="Реклама">
                </div>
            </div>
        </aside>
        
    </div>
</div>
{% endblock %}