{% extends 'poems/base_content.html' %}
{% load static %}
{% load humanize %}

{% block title %}{{ poem.title }}{% endblock %}

{% block main_content %}
    <article>

        <header class="d-flex justify-content-between align-items-start">
            <h1 class="display-6">{{ poem.title }}</h1>
            {% include 'poems/_toggle_favorite_button.html' with is_favorite=poem.is_favorite poem_slug=poem.slug %}
        </header>

        <div class="mb-3">
            <p class="text-muted">
                Автор{{ poem.authors.all|pluralize:"ы" }}:
                {% for author in poem.authors.all %}
                    <a href="{% url 'users:profile' user_id=author.pk %}">{{ author.username }}</a>{% if not forloop.last %}, {% endif %}
                {% endfor %}
            </p>

            {% include 'poems/_poem_rating_label.html' with poem_average_rating=poem.average_rating poem_votes_count=poem.votes_count %}
        
        </div>

        <hr>

        <div class="poem-text">
            <p>{{ poem.teaser|linebreaks }}</p>
        </div>

        <hr>

        <div class="poem-text">
            <p>{{ poem.text|linebreaks }}</p>
        </div>

        <hr>

        {% include 'poems/_poem_rating_form.html' with poem_user_rating=poem.user_rating poem_slug=poem.slug poem_rating_form=poem_rating_form %}

        <div class="mb-3">
            <p class="text-muted">
                &bull; Создано: {{ poem.created_at|naturalday }}                
                <br>
                &bull; Изменено: {{ poem.updated_at|naturalday }}
            </p>
        </div>

        <!-- <nav aria-label="Пагинация" class="mt-4">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled"><span class="page-link">Предыдущая</span></li>
                <li class="page-item active"><span class="page-link">1</span></li>
                <li class="page-item"><a class="page-link" href="#">Следующая</a></li>
            </ul>
        </nav> -->

    </article>
{% endblock %}