{% extends 'poems/base_content.html' %}
{% load static %}

{% block title %}Создание поэмы — Glimvig{% endblock %}

{% block main_content %}

    <h1 class="mb-4">Создать поэму</h1>

    {% if poem_create_form.errors %}
        <div class="alert alert-danger">
            Пожалуйста, заполните все необходимые поля.
        </div>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label ">Заголовок</label>
            <input 
                type="text" 
                class="form-control {% if poem_create_form.title.errors %}is-invalid{% endif %}" 
                id="title" 
                name="title" 
                placeholder="Введите заголовок"
                value="{{ poem_create_form.title.value|default:'' }}">
        </div>

        <div class="mb-3">
            <label for="teaser" class="form-label">Отрывок</label>
            <textarea 
                class="form-control {% if poem_create_form.teaser.errors %}is-invalid{% endif %}" 
                id="teaser" 
                name="teaser" 
                rows="3" 
                placeholder="Короткая цитата или интригующая строка">{{ poem_create_form.teaser.value|default:'' }}</textarea>
        </div>

        <div class="mb-3">
            <label for="content" class="form-label">Текст поэмы</label>
            <textarea 
                class="form-control {% if poem_create_form.text.errors %}is-invalid{% endif %}" 
                id="content" 
                name="text" 
                rows="10" 
                placeholder="Введите текст...">{{ poem_create_form.text.value|default:'' }}</textarea>
        </div>

        <div class="mb-3">
            <label for="postscript" class="form-label">P.s.</label>
            <textarea 
                class="form-control" 
                id="postscript" 
                name="postscript" 
                rows="2" 
                placeholder="Уточнения (например соавторство)">{{ postscript_value|default:'' }}</textarea>
        </div>

        <div class="d-flex justify-content-center gap-2">
            <button type="submit" class="btn btn-primary">Отправить на проверку</button>
        </div>
    </form>

{% endblock %}